* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === section header === */

body,
html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background-image: url(./assets/img/bg.jpg);
  width: 1440px;
  height: 910px;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
}

.logo {
  padding: 0 20px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  cursor: pointer;
  margin-right: auto;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.logo:link {
  color: #fff;
}

.logo:visited {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.list-nav li,
.list-nav a {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
  line-height: 50px;
  transition: all 0.3s ease 0s;
}

.list-nav li a:hover {
  color: #bdae82;
}

.list-nav:link {
  color: #fff;
}

.list-nav:visited {
  color: #bdae82;
}

.language-item > div {
  display: inline-block;
  padding: 0px 2px;
  color: #fff;
}

.lang-option a {
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.lang-option a:hover {
  color: #bdae82;
}

.lang-option:link {
  color: #fff;
}

.lang-option:visited {
  color: #bdae82;
}

/* === section main content === */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-hero {
  position: absolute;
  width: 500px;
  height: 330px;
  top: 150px;
  left: 5.56%;
  right: 59.72%;
}

.hero-title {
  font-family: "Merriweather", serif;
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  position: absolute;
  height: 120px;
  left: 0%;
  right: 0%;
  top: 0px;
}

.hero-text {
  color: #fff;
  position: absolute;
  height: 120px;
  left: 0%;
  right: 6%;
  top: 130px;
  font-size: 20px;
  line-height: 40px;
}

.hero-button {
  position: absolute;
  width: 220px;
  height: 55px;
  top: 275px;
  left: 0%;
  right: 56%;
  background-color: #bdae82;
  color: #000;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
}

.hero-button:hover {
  color: #fff;
  transition: all 0.3s ease 0s;
}

.hero-button:link {
  color: #000;
}

.hero-button:visited {
  background-color: #bdae82;
}

/* === section skills === */

.section-skills,
.section-portfolio,
.section-video,
.section-price,
.section-contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bdae82;
}

.section-skills {
  position: absolute;
  width: 1440px;
  height: 482px;
  left: 0px;
  top: 910px;
}

.section-title-skills {
  font-family: "Merriweather", serif;
  position: absolute;
  width: 112px;
  height: 80px;
  left: calc(50% - 112px / 2);
  right: 0%;
  top: 0px;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
}

.line-skills {
  position: relative;
  border-radius: 0px;
  width: 100%;
}

.line-skills::before,
.line-skills::after {
  content: "";
  position: absolute;
  height: 2px;
  background: #bdae82;
  width: 400px;
  top: 25px;
}

.line-skills::before {
  left: 150px;
}

.line-skills::after {
  right: 150px;
}

.section-skills-items {
  width: 1400px;
  height: 242px;
  left: 20px;
  right: 1.39%;
  top: 240px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.skills-item-camera {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 0%;
  right: 77.14%;
  top: 0px;
}

.skills-camera {
  position: absolute;
  width: 62px;
  height: 50px;
  left: 129px;
  top: 0px;
}

.skills-item-title-camera {
  font-family: "Inter", sans-serif;
  position: absolute;
  width: 280px;
  height: 40px;
  top: 100px;
  left: 18px;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

.skills-item-text-camera {
  font-family: "Inter", sans-serif;
  position: absolute;
  width: 280px;
  height: 72px;
  left: 20px;
  top: 160px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.skills-item-video {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 360px;
  right: 51.43%;
  top: 0px;
}

.skills-video {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 130px;
  top: 0px;
}

.skills-item-title-video {
  font-family: "Inter", sans-serif;
  position: absolute;
  width: 280px;
  height: 40px;
  left: 20px;
  top: 100px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

.skills-item-text-video {
  font-family: "Inter", sans-serif;
  position: absolute;
  width: 280px;
  height: 72px;
  left: 20px;
  top: 160px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.skills-item-image {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 720px;
  right: 25.71%;
  top: 0px;
}

.skills-image {
  position: absolute;
  width: 66px;
  height: 50px;
  left: 127px;
  top: 0px;
}

.skills-item-title-image {
  font-family: "Inter", sans-serif;
  position: absolute;
  width: 280px;
  height: 40px;
  left: 20px;
  top: 100px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

.skills-item-text-image {
  font-family: "Inter", sans-serif;
  position: absolute;
  width: 280px;
  height: 72px;
  left: 20px;
  top: 160px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.skills-item-mic {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 1080px;
  right: 0%;
  top: 0px;
}

.skills-mic {
  position: absolute;
  width: 32px;
  height: 50px;
  left: 144px;
  top: 0px;
}

.skills-item-title-mic {
  font-family: "Inter", sans-serif;
  position: absolute;
  width: 280px;
  height: 40px;
  left: 20px;
  top: 100px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

.skills-item-text-mic {
  font-family: "Inter", sans-serif;
  position: absolute;
  width: 280px;
  height: 72px;
  left: 20px;
  top: 160px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

/* === section portfolio === */

.section-portfolio {
  position: absolute;
  width: 1440px;
  height: 1500px;
  left: 0px;
  top: 1300px;
}

.section-title-portfolio {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  line-height: 80px;
  width: 700px;
  height: 80px;
  left: 370px;
  right: 25.69%;
  top: 100px;
  text-align: center;
}

.line-portfolio {
  position: relative;
  border-radius: 0px;
  width: 100%;
}

.line-portfolio::before,
.line-portfolio::after {
  content: "";
  position: absolute;
  height: 2px;
  background: #bdae82;
  width: 400px;
  top: 25px;
}

.line-portfolio::before {
  left: 250px;
}

.line-portfolio::after {
  right: 250px;
}

.section-buttons-portfolio {
  position: absolute;
  width: 895px;
  height: 55px;
  left: 272px;
  top: 240px;
}

.button-portfolio-autumn {
  width: 220px;
  height: 55px;
  left: 947px;
  top: 240px;
  background-color: #000;
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  cursor: pointer;
}

.button-portfolio-text-autumn {
  color: #bdae82;
  position: absolute;
  width: 74px;
  height: 40px;
  top: 8px;
  left: 73px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
}

.button-portfolio-text-autumn:hover,
.button-portfolio-text-summer:hover,
.button-portfolio-text-spring:hover,
.button-portfolio-text-winter:hover {
  color: #fff;
  transition: all 0.3s ease 0s;
}

.button-portfolio-text-autumn:link,
.button-portfolio-text-summer:link,
.button-portfolio-text-spring:link,
.button-portfolio-text-winter:link {
  color: #bdae82;
}

.button-portfolio-text-autumn:visited,
.button-portfolio-text-summer:visited,
.button-portfolio-text-spring:visited,
.button-portfolio-text-winter:visited {
  background-color: #bdae82;
  color: #000;
}

.button-portfolio-summer {
  width: 220px;
  height: 55px;
  top: 240px;
  left: 722px;
  background-color: #000;
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  cursor: pointer;
}

.button-portfolio-text-summer {
  position: absolute;
  width: 81px;
  height: 40px;
  top: 13.5%;
  left: 33%;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #bdae82;
}

.button-portfolio-spring {
  width: 220px;
  height: 55px;
  top: 240px;
  left: 497px;
  right: 0%;
  top: 0px;
  background-color: #000;
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  cursor: pointer;
}

.button-portfolio-text-spring {
  position: absolute;
  width: 62px;
  height: 40px;
  top: 13.5%;
  left: 58%;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #bdae82;
}

.button-portfolio-winter {
  width: 220px;
  height: 55px;
  top: 240px;
  left: 272px;
  right: 0%;
  background-color: #000;
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  cursor: pointer;
}

.button-portfolio-text-winter {
  position: absolute;
  color: #bdae82;
  width: 62px;
  height: 40px;
  top: 8px;
  left: 83.5%;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.portfolio-items-photo {
  position: absolute;
  width: 1400px;
  height: 1145px;
  top: 355px;
  left: 20px;
  top: 355px;
}

.portfolio-item-1 {
  position: absolute;
  width: 450px;
  height: 560px;
  left: 0%;
  right: 67.86%;
  top: 0px;
  border-radius: 0px;
}

.portfolio-item-2 {
  position: absolute;
  width: 450px;
  height: 560px;
  left: 475px;
  right: 33.93%;
  top: 0px;
  border-radius: 0px;
}

.portfolio-item-3 {
  position: absolute;
  width: 450px;
  height: 560px;
  left: 950px;
  right: 0%;
  top: 0px;
  border-radius: 0px;
}

.portfolio-item-4 {
  position: absolute;
  width: 450px;
  height: 560px;
  top: 585px;
  left: 0%;
  right: 67.86%;
  border-radius: 0px;
}

.portfolio-item-5 {
  position: absolute;
  width: 450px;
  height: 560px;
  top: 585px;
  left: 475px;
  right: 33.93%;
  border-radius: 0px;
}

.portfolio-item-6 {
  position: absolute;
  width: 450px;
  height: 560px;
  top: 585px;
  left: 950px;
  right: 0%;
  border-radius: 0px;
}

/* === section video === */

.section-video {
  position: absolute;
  width: 1440px;
  height: 945px;
  left: 0px;
  top: 2892px;
}

.section-title-video {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 40px;
  width: 700px;
  height: 80px;
  top: 100px;
  left: 370px;
  right: 25.69%;
  text-align: center;
  position: absolute;
}

.line-video {
  position: relative;
  border-radius: 0px;
  width: 100%;
}

.line-video::before,
.line-video::after {
  content: "";
  position: absolute;
  height: 2px;
  background: #bdae82;
  width: 400px;
  top: 25px;
}

.line-video::before {
  left: 250px;
}

.line-video::after {
  right: 250px;
}

.video-player-box {
  position: absolute;
  width: 1400px;
  height: 705px;
  top: 240px;
  left: 20px;
  background-image: url(./assets/img/video-player.jpg);
  z-index: 2;
}

.video-player {
  position: absolute;
  width: 1400px;
  height: 705px;
  overflow: hidden;
}

.video-play-button {
  position: absolute;
  width: 129.86px;
  height: 130px;
  left: 656px;
  top: 528px;
  cursor: pointer;
  color: #fff;
  z-index: 3;
}

.video-play-button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* === section price === */

.section-price {
  position: absolute;
  width: 1440px;
  height: 845px;
  left: 0px;
  top: 3837px;
}

.section-title-price {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  width: 700px;
  height: 80px;
  top: 100px;
  left: 370px;
  right: 25.69%;
}

.line-price {
  position: relative;
  width: 102px;
  height: 80px;
  left: 299px;
  top: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}

.line-price::before,
.line-price::after {
  content: "";
  position: absolute;
  height: 2px;
  background: #bdae82;
  width: 400px;
  top: 25px;
  border-radius: 0px;
}

.line-price::before {
  left: 250px;
}

.line-price::after {
  right: 250px;
}

.price-items {
  width: 1400px;
  height: 505px;
  top: 240px;
  left: 20px;
}

.price-item1 {
  position: absolute;
  width: 450px;
  height: 505px;
  top: 240px;
  left: 20px;
  right: 67.36%;
}

.price-item-title1 {
  position: absolute;
  width: 128px;
  height: 56px;
  left: calc(50% - 128px / 2);
  top: 43px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}

.price-item-1 {
  position: absolute;
  width: 69px;
  height: 48px;
  left: calc(50% - 69px / 2 + 0.5px);
  top: 119px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #bdae82;
}

.price-item-text1 {
  position: absolute;
  font-family: "Inter", sans-serif;
  width: 364px;
  height: 180px;
  top: 187px;
  left: 0px;
  right: 0px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.btn-price-item1 {
  position: absolute;
  width: 220px;
  height: 55px;
  left: 115px;
  right: 25.56%;
  top: 407px;
  background: #bdae82;
  border-radius: 0px;
  text-align: center;
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
}

.price-item2 {
  position: absolute;
  width: 450px;
  height: 505px;
  top: 240px;
  left: 495px;
  right: 34.38%;
}

.price-item-title2 {
  position: absolute;
  width: 132px;
  height: 56px;
  left: calc(50% - 132px / 2);
  top: 43px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}

.price-item-2 {
  position: absolute;
  width: 68px;
  height: 48px;
  left: calc(50% - 68px / 2);
  top: 119px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #bdae82;
}

.price-item-text2 {
  position: absolute;
  font-family: "Inter", sans-serif;
  width: 364px;
  height: 180px;
  top: 187px;
  left: 0px;
  right: 0px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.btn-price-item2 {
  position: absolute;
  width: 220px;
  height: 55px;
  top: 407px;
  left: 25.56%;
  right: 25.56%;
  text-align: center;
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  background: #bdae82;
  cursor: pointer;
}

.price-item3 {
  position: absolute;
  width: 450px;
  height: 505px;
  top: 240px;
  left: 970px;
  right: 1.39%;
}

.price-item-title3 {
  position: absolute;
  width: 67px;
  height: 56px;
  left: 192px;
  top: 43px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}

.price-item-3 {
  position: absolute;
  width: 81px;
  height: 48px;
  left: calc(50% - 81px / 2 - 0.5px);
  top: 119px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #bdae82;
}

.price-item-text3 {
  position: absolute;
  font-family: "Inter", sans-serif;
  width: 364px;
  height: 180px;
  top: 187px;
  left: 0px;
  right: 0px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.btn-price-item3 {
  position: absolute;
  width: 220px;
  height: 55px;
  left: 115px;
  right: 25.56%;
  top: 407px;
  background: #bdae82;
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.btn-price-item1:hover,
.btn-price-item2:hover,
.btn-price-item3:hover {
  color: #fff;
  transition: all 0.3s ease 0s;
}

/* === section contacts === */

.section-contacts {
  position: absolute;
  width: 1440px;
  height: 692px;
  left: 0;
  top: 4690px;
  background: url(./assets/img/bg-contacts.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-container {
  position: absolute;
  width: 450px;
  height: 445px;
  left: 970px;
  top: 60px;
}

.section-title-contact-me {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
  width: 450px;
  height: 80px;
  right: 20px;
  top: 60px;
}

form {
  width: 450px;
  max-width: 500px;
  padding: 180px 20px;
  right: 33px;
  top: -70px;
  position: absolute;
}

.contact-form {
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0px;
  position: relative;
  margin: 15px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  top: 320px;
  left: 970px;
  right: 1.39%;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  color: #fff;
}

label {
  position: absolute;
  left: 0;
  padding: 10px;
  cursor: text;
  color: #bdae82;
}

::placeholder {
  font-family: "Inter", sans-serif;
  color: #bdae82;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.contact-btn {
  position: absolute;
  width: 220px;
  height: 55px;
  top: 400px;
  left: 35px;
  right: 0%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000;
  background: #bdae82;
  border-radius: 0px;
  cursor: pointer;
}

.contact-btn:hover {
  color: #fff;
  transition: all 0.3s ease 0s;
}

.contact-btn:link {
  color: #bdae82;
}

.contact-btn:visited {
  background-color: #bdae82;
  color: #000;
}

/* === footer content === */

.footer {
  position: relative;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 5382px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li,
a {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  display: inline-flex;
  transition: all 0.3s ease 0s;
  padding: 25px 5px;
}

.footer-data a {
  cursor: pointer;
}

.footer-data a:hover {
  color: #bdae82;
}

.footer-text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 50px;
}

.footer-text:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.footer-text:link {
  color: #fff;
}

.footer-text:visited {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.footer-social-list {
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-social:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  cursor: pointer;
}

.footer-social:link {
  color: #fff;
}

.footer-social:visited {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
